html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import 'variables';

@font-face {
    font-family: "Gilam";
    src: url(../Fonts/GilamRegular.otf);
    src: url(../Fonts/GilamSemiBold.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Gilam";
    background-color: $bg-primary;
    padding-top: 50px;
}

h2 {
    color: #FFF;
    font-family: Gilam;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    border: 1px solid $corporate-color;
}

a:link {
    color: $corporate-color;
}

a:visited {
    color: $corporate-color;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    box-sizing: border-box;
    background-color: $bg-primary;
}


// header section styles

.header-section {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.header-section__logo {
    align-items: start;
}

.header-section__contact-us {
    align-items: center;
}

// main

// top-section styles

.top-section__header {
    margin-bottom: 20px;
}

.top-section__description {
    color: #FFF;
    font-family: Gilam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.top-section__grid {
    display: grid;
    height: 700px;
    width: 1180px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-bottom: 50px
}

.top-section__grid-block {
    color: #FFF;
    font-family: Gilam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    display: flex;
        justify-content: center;
        align-items: center;
}

.block-1 {
    background-color: #634F2C;
    grid-area: 1 / 1 / 3 / 3;
}

.block-2 {
    background-color: #B4A385;
    grid-area: 1 / 3 / 3 / 5;
}

.block-3 {
    background-color: $corporate-color;
    grid-area: 1 / 5 / 3 / 7;
}

.block-4 {
    background-color: #635A4A;
    grid-area: 3 / 1 / 5 / 4;
}

.block-5 {
    background-color: #B08C4D;
    grid-area: 3 / 4 / 5 / 7;
}

// middle section styles

.middle-section {
    padding-bottom: 50px;
}

.middle-section__grid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: #FFF;
    height: 700px;
    width: 1180px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.middle-section__grid-block {
    padding-left: 20px;
    padding-top: 20px;
}


.block-6 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: $bg-secondary;
}

.block-7 {
    grid-area: 3 / 1 / 7 / 2;
    background-color: #1f1f1f;
}

.block-8 {
    grid-area: 1 / 2 / 4 / 3;
    background-color: #242424;
}

.block-9 {
    grid-area: 4 / 2 / 7 / 3;
    background-color: $corporate-color;
}

.block-10 {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #1f1f1f;
}

.block-11 {
    grid-area: 3 / 3 / 5 / 4;
    background-color: $bg-secondary;
}

.block-12 {
    grid-area: 5 / 3 / 7 / 4;
    background-color: #0A0909;
}


// bottom section styles

.bottom-section__wrapper {
    background-color: $bg-secondary;
}

.bottom-section {
    background-color: $bg-secondary;
    padding-top: 50px;
}

.bottom-section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.bottom-section__title-header {
    align-items: start;
}

.bottom-section__title-link {
    align-items: center;
    width: 120px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

.client-blocks {
    display: flex;
    flex-wrap: wrap;
}

.client-blocks__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-1 {

    width: 33%;
    height: 391px;
    background: #634F2C;
    flex-shrink: 0;
}

.client-2 {



    width: 33%;
    height: 391px;
    background: #E8D2ABC2;
    flex-shrink: 0;
}

.client-3 {
    width: 33%;
    height: 391px;
    background: $corporate-color;
    flex-shrink: 0;
}

.client-4 {
    width: 33%;
    height: 391px;
    background: #635A4A;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.client-5 {
    width: 33%;
    height: 391px;
    background: #B08C4D;
    flex-shrink: 0;
}

.client-6 {
    width: 33%;
    height: 391px;
    background: #634F2C;
    flex-shrink: 0;
}

.client-2__intro {
    display: inline-block;
    text-align: center;
    padding: 60px 60px 0;
}

.client-2__text {

    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

 .client__picture {
     margin-bottom: 10px;
 }

 // footer styles

 footer {
     width: 100%;
     height: 200px;
     background: $bg-primary
 }